* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/****** Classes to add margin or padding ******/
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

/***** Classes to change color *****/

.yellow {
    color: #e1aa40;
}

.light-green {
    color: #29b578;
}

.white {
    color: white;
}

.grey {
    color: #96a4a3;
}

.semi-bold {
    font-weight: 600;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing {
    letter-spacing: 3px;
}

h4 {
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
}

h5 {
    font-family: 'Source Serif Pro', serif;
    font-size: 28px;
}

header  {
    height: 1200px;
    background-image: url('img/header.jpg');
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8463760504201681) 0%, rgba(250,250,250,0.6278886554621849) 100%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.8463760504201681) 0%, rgba(250,250,250,0.6278886554621849) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.8463760504201681) 0%, rgba(250,250,250,0.6278886554621849) 100%);
}


.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.about-text p {
    font-size: 24px;
}

.btn-success {
    background-color: #29b578
}

.btn-success:hover {
    background-color: #13774a;
}

#audiobook {
    background-image:url('img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.audiobook-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#critics {
    height: 800px;
}

.text-uppercase.light-green.semi-bold {
    letter-spacing: 3px;
}


.btn-warning {
    padding: 10px 30px;
    background-color: #e2af14;
}

.btn-warning:hover {
    color: white;
}

.best-authors {
    max-width: 100%;
    height: 650px;
    background-image:url('img/testimonial.jpg');
    border-radius: 0 0 90px 0;
    background-size: cover;
    background-position: center;
    position: relative;

}

.overlay-authors {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 90px 0;
    display: flex;
    align-items: center;
}

.text-authors {
    padding: 40px;
}

.hr {
    width: 92%;
    height: 1px;
    background-color: white;
}

.text-authors img {
    width: 50px;
    height: 50px;
}

.text-authors span {
    font-size: 18px;
}

.text-authors p {
    font-size: 16px;
}

.authors-review {
    width: 100%;
    height: 250px;
    background-color: #ede6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.logos {
    width: 30px;
    height: 30px;
}

.journalists {
    display: flex;
    align-items: center;
}

.journalist-name {
    margin-left: 20px;
}

#upcoming-events {
    background-color: #ede6e6;

}

.event {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.event-text {
    background-color: white;
    padding: 20px;
}

.event-image {
    width: 100%;
}

.event-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

#newsletter {
    background-image: url('img/banner-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newsletter-container {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

#insert-mail {
    padding: 12px 100px 12px 10px;
    border-radius: 8px;
    outline: none;
}

#subscribe {
    padding: 12px 50px 12px 50px;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: none;
}

.newsletter-text {
    font-size: 16px;
    color: #999999;
}

.author-row {
    justify-content: center;
}

.box-author-info {
    width: 100%;
    height: 450px;
    border-radius: 0 0 40px 0;
}

.box-1-author-info {
    background-image: url('img/box-1.jpg');
    background-size: cover;
}

.box-2-author-info {
    background-image: url('img/box-3.jpg');
    background-size: cover;
}

.box-3-author-info {
    background-image: url('img/box-2.jpg');
    background-size: cover;
}

.overlay-box-author-info{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(9deg, rgba(0,0,0,0.804359243697479) 0%, rgba(250,250,250,0) 100%);
    border-radius: 0 0 40px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.hr-author-info {
    width: 15%;
    background: white;
    height: 1px;
}

#recent-articles {
    height: 600px;
    background-color: #ede6e6;
}

@media (min-width: 1200px){


}
